[Desktop Entry]
Version=1.0
Type=Link
Name=Examples
name[aa]=ceelallo
name[ace]=contoh
name[af]=voorbeelde
name[am]=ምሳሌዎች
name[an]=exemplos
name[ar]=أمثلة
name[ast]=exemplos
name[az]=nümunələr
name[be]=прыклады
name[bg]=примери
name[bn]=উদাহরণ
name[br]=skouerioù
name[bs]=primjeri
name[ca]=exemples
name[ca@valencia]=exemples
name[ckb]=نمونه‌كان
name[cs]=ukázky
name[csb]=przëmiôrë
name[cy]=enghreifftiau
name[da]=eksempler
name[de]=beispiele
name[dv]=މިސާލުތަށް
name[el]=παραδείγματα
name[en_au]=examples
name[en_ca]=examples
name[en_gb]=examples
name[eo]=ekzemploj
name[es]=ejemplos
name[et]=näidise
name[eu]=adibideak
name[fa]=نمونه‌ها
name[fi]=esimerkkejä
name[fil]=mga halimbawa
name[fo]=dømir
name[fr]=exemples
name[fur]=esemplis
name[fy]=foarbylden
name[ga]=samplaí
name[gd]=buill-eisimpleir
name[gl]=exemplos
name[gu]=દૃષ્ટાન્તો
name[gv]=sampleyryn
name[he]=דוגמאות
name[hi]=उदाहरण
name[hr]=primjeri
name[ht]=egzanp
name[hu]=minták
name[hy]=օրինակներ
name[id]=contoh
name[is]=sýnishorn
name[it]=esempi
name[ja]=サンプル
name[ka]=ნიმუშები
name[kk]=мысалдар
name[kl]=assersuutit
name[km]=ឧទាហរណ៍
name[kn]=ಉದಾಹರಣೆಗಳು
name[ko]=예시
name[ku]=mînak
name[kw]=ensamplow
name[ky]=мисалдар
name[lb]=beispiller
name[lt]=pavyzdžių failai
name[lv]=paraugi
name[mg]=ohatra
name[mhr]=пример-влак
name[mi]=tauira
name[mk]=примери
name[ml]=ഉദാഹരണങ്ങള്‍
name[mr]=उदाहरणे
name[ms]=contoh-contoh
name[my]=ဥပမာများ
name[nb]=eksempler
name[nds]=bispelen
name[ne]=उदाहरणहरू
name[nl]=voorbeeld-bestanden
name[nn]=døme
name[nso]=mehlala
name[oc]=exemples
name[pa]=ਉਦਾਹਰਨਾਂ
name[pl]=przykłady
name[pt]=exemplos
name[pt_br]=exemplos
name[ro]=exemple
name[ru]=примеры
name[sc]=esempiusu
name[sco]=examples
name[sd]=مثالون
name[se]=ovdamearkkat
name[shn]=တူဝ်ယၢင်ႇ
name[si]=නිදසුන්
name[sk]=príklady
name[sl]=zgledi
name[sml]=saga saupama
name[sn]=miyenzaniso
name[sq]=shembujt
name[sr]=примери
name[sv]=exempel
name[sw]=mifano
name[szl]=bajszpile
name[ta]=உதாரணங்கள்
name[ta_lk]=உதாரணங்கள்
name[te]=ఉదాహరణలు
name[tg]=намунаҳо
name[th]=ตัวอย่าง
name[tr]=örnekler
name[tt]=мисаллар
name[ug]=مىساللار
name[uk]=приклади
name[ur]=مثالیں
name[uz]=намуналар
name[vec]=esempi
name[vi]=mẫu ví dụ
name[wae]=bischbil
name[zh_cn]=示例
name[zh_hk]=範例
name[zh_tw]=範例
comment=example content for ubuntu
comment[aa]=ubuntuh addattinoh ceelallo
comment[ace]=contoh aso ke ubuntu
comment[af]=voorbeeld inhoud vir ubuntu
comment[am]=ዝርዝር ምሳሌዎች ለ ኡቡንቱ
comment[an]=conteniu d'exemplo ta ubuntu
comment[ar]=أمثلة محتوى لأوبونتو
comment[ast]=conteníu del exemplu pa ubuntu
comment[az]=ubuntu üçün nümunə material
comment[be]=узоры дакументаў для ubuntu
comment[bg]=примерно съдържание за ubuntu
comment[bn]=উবুন্টু সংক্রান্ত নমুনা তথ্য
comment[br]=skouerenn endalc'had evit ubuntu
comment[bs]=primjer sadrzaja za ubuntu
comment[ca]=continguts d'exemple per a l'ubuntu
comment[ca@valencia]=continguts d'exemple per a l'ubuntu
comment[ckb]=نموونەی ناوەڕۆکێک بۆ ئوبوونتو
comment[cs]=ukázkový obsah pro ubuntu
comment[csb]=przëmiôrowô zamkłosc dlô ubuntu
comment[cy]=cynnwys enghraifft ar gyfer  ubuntu
comment[da]=eksempel indhold til ubuntu
comment[de]=beispielinhalt für ubuntu
comment[dv]=އުބުންޓު އާއި އެކަށޭނަ މިސާލުތައް
comment[el]=παραδείγματα περιεχομένου για το ubuntu
comment[en_au]=example content for ubuntu
comment[en_ca]=example content for ubuntu
comment[en_gb]=example content for ubuntu
comment[eo]=ekzempla enhavo por ubuntu
comment[es]=contenido de ejemplo para ubuntu
comment[et]=ubuntu näidisfailid
comment[eu]=adibidezko edukia ubunturako
comment[fa]=محتویات نمونه برای اوبونتو
comment[fi]=esimerkkisisältöjä ubuntulle
comment[fil]=halimbawang laman para sa ubuntu
comment[fo]=dømis innihald fyri ubuntu
comment[fr]=contenu d'exemple pour ubuntu
comment[fur]=contignûts di esempli par ubuntu
comment[fy]=foarbyld fan ynhâld foar ubuntu
comment[ga]=inneachar samplach do ubuntu
comment[gd]=eisimpleir de shusbaint airson ubuntu
comment[gl]=contido do exemplo para ubuntu
comment[gu]=ubuntu માટે ઉદાહરણ સૂચી
comment[gv]=stoo sanpleyr son ubuntu
comment[he]=תוכן לדוגמה עבור אובונטו
comment[hi]=उबुन्टू हेतु उदाहरण सारांश
comment[hr]=primjeri sadržaja za ubuntu
comment[ht]=kontni egzanplè pou ubuntu
comment[hu]=mintatartalom ubuntuhoz
comment[hy]=բովանդակության օրինակները ubuntu֊ի համար
comment[id]=contoh isi bagi ubuntu
comment[is]=sýnishorn fyrir ubuntu
comment[it]=contenuti di esempio per ubuntu
comment[ja]=ubuntuのサンプルコンテンツ
comment[ka]=უბუნტუს სანიმუშო შიგთავსი
comment[kk]=ubuntu құжаттар мысалдары
comment[kl]=ubuntu-mut imarisaanut assersuut
comment[km]=ឧទាហរណ៍សម្រាប់អាប់ប៊ុនធូ
comment[kn]=ಉಬುಂಟುಗೆ ಉದಾಹರಣೆಗಳು
comment[ko]=우분투 컨텐츠 예시
comment[ku]=ji bo ubuntu mînaka naverokê
comment[ky]=ubuntu-нун мисал документтери
comment[lb]=beispillinhalt fir ubuntu
comment[lt]=įvairių dokumentų, paveikslėlių, garsų bei vaizdų pavyzdžiai
comment[lv]=parauga saturs ubuntu videi
comment[mg]=ohatra ho an'i ubuntu
comment[mhr]=ubuntu-лан документ-влакын пример-влак
comment[mi]=mata tauira o ubuntu
comment[mk]=пример содржина за убунту
comment[ml]=ഉബുണ്ടുവിനു വേണ്ടിയുള്ള ഉദാഹരണങ്ങള്‍
comment[mr]=उबंटूसाठी घटकांची उदाहरणे
comment[ms]=kandungan contoh untuk ubuntu
comment[my]=ubuntu အတွက် နမူနာ မာတိကာ
comment[nb]=eksempelinnhold for ubuntu
comment[ne]=उबन्टुका लागि उदाहरण सामग्री
comment[nl]=voorbeeldinhoud voor ubuntu
comment[nn]=eksempelinnhald for ubuntu
comment[nso]=mohlala wa dikagare tša ubuntu
comment[oc]=exemples de contengut per ubuntu
comment[pa]=ਉਬਤੂੰ ਲਈ ਨਮੂਨਾ ਸਮੱਗਰੀ
comment[pl]=przykładowa zawartość dla ubuntu
comment[pt]=conteúdo de exemplo para o ubuntu
comment[pt_br]=exemplo de conteúdo para ubuntu
comment[ro]=conținut exemplu pentru ubuntu
comment[ru]=примеры документов для ubuntu
comment[sc]=esempiu de cabidu pro ubuntu
comment[sco]=example content fur ubuntu
comment[sd]=اوبنٽو لاءِ مثال طور ڏنل مواد
comment[shn]=တူဝ်ႇယၢင်ႇလမ်းၼႂ်း တႃႇ ubuntu
comment[si]=උබුන්ටු සඳහා උදාහරණ අන්තර්ගතයන්
comment[sk]=ukážkový obsah pre ubuntu
comment[sl]=ponazoritvena vsebina za ubuntu
comment[sml]=saupama isina ubuntu
comment[sn]=muyenzaniso wehuiswa kuitira ubuntu
comment[sq]=shembull i përmbajtjes për ubuntu
comment[sr]=садржај примера за убунту
comment[sv]=exempelinnehåll för ubuntu
comment[sw]=bidhaa mfano ya ubuntu
comment[szl]=bajszpilnŏ treść dlŏ ubuntu
comment[ta]=உபுண்டுவிற்கான எடுத்துகாட்டு உள்ளடக்கங்கள்
comment[ta_lk]=உபுண்டுவிற்கான எடுத்துகாட்டு உள்ளடக்கங்கள்
comment[te]=ubuntu వాడుక విధాన నమూనాలు
comment[tg]=мӯҳтавои намунавӣ барои ubuntu
comment[th]=ตัวอย่างข้อมูลสำหรับ ubuntu
comment[tr]=ubuntu için örnek içerik
comment[tt]=ubuntu өчен документ мисаллары
comment[ug]=ئۇبۇنتۇنىڭ مىساللىرى
comment[uk]=приклади контенту для ubuntu
comment[ur]=یوبنٹو کیلئے مثالی مواد
comment[uz]=ubuntu учун намуна таркиби
comment[vec]=contenuti de esempio de ubuntu
comment[vi]=mẫu ví dụ cho ubuntu
comment[wae]=d'ubuntu bischbildatijä
comment[zh_cn]=ubuntu 示例内容
comment[zh_hk]=ubuntu 的範例內容
comment[zh_tw]=ubuntu 的範例內容
url=file:///usr/share/example-content/
icon=folder
x-ubuntu-gettext-domain=example-content

